

.postImage {
  display:block;
  border-radius: 10px;
  width: 100%;
}
.postContainer {
  display:block;
  width: 100%;
  border-radius: 10px;
  background-color: #ccc;
}

.postInfo {
visibility: hidden;
position:absolute;
top:0;
background:rgba(0, 0, 0, 0.2);
border-radius: 10px;
width:100%;
height:100%;
}

.postContainer:hover >  .postInfo{
visibility: visible;
}



/* pin button in post*/
.pinButton{
  z-index: 1;
  position:absolute;
  left:1em;
  top:1em;
  text-align: center;
  width:auto;
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 2em;
  vertical-align:middle;
  padding-top: .25em;
  min-width: 2em;
  color:#b5b5b5;
}
.pinButton:hover{
  color: #717171;;
  cursor: pointer;
}
.pinButton > span{
  margin-left: .5em;
}
.pinButton > text{
  size:.25em;
  margin-right: .5em;
}


/* pin button in post*/

/* unpin button in post*/
.unpinButton{
  z-index: 1;
  position:absolute;
  left:1em;
  top:1em;
  text-align: center;
  width:auto;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 2em;
  vertical-align:middle;
  padding-top: .25em;
  min-width: 2em;
  background-color: #bc081c;
  color: white;
}
.unpinButton:hover{
  background-color: #a30618;
  cursor: pointer;
}
.unpinButton > span{
  margin-left: .5em;
}
.unpinButton > text{
  size:.25em;
  margin-right: .5em;
}

/* unpin button in post*/

/* delete button in post*/
.deleteButton{
  z-index: 1;
  position:absolute;
  right:1.5em;
  top:1.5em;
}

.deleteButton::after{
   z-index: -1;
   content: '';
   position: absolute;
   left: -.5em;
   top: -.5em;
   width: 2em;
   height: 2em;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   background-color: white;
}

.glyphicon.deleteButton:hover {
  color: #717171;
  cursor: pointer;
}

.glyphicon.deleteButton {
  color: #b5b5b5;
}

/* delete button in post*/

/* user Picture in post */
.userPicture{
  position: absolute;
  left: 1em;
  bottom: 1em;
  width: 3em;
  height: 3em;
  -moz-border-radius: 10em;
  -webkit-border-radius: 10em;
  border-radius: 10em;
}

/* user Picture in post */


.userName{
  position: absolute;
  left: 4.5em;
  bottom: 1em;
  color: white;
  text-decoration: none;
}

.userName:hover{
  color: white;
  text-decoration: none;
}


/* media queries mobile first */
