.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #efefef 1px;
}

.navbarButtonContainer {
  display: inline-block;
  margin: 0;
}



a.navbarBrand{
  padding: 0px;
  margin-left: 20px;
}
.navbarBrand> img {
  height:40px;
}

.navbarBrand:hover {
  text-decoration:none;
}
.navbarBrand {
  font-variant: small-caps;
  padding: 0px;
}
.singleButtonContainer {
  display: inline-block;
}

.navbarButton, .navbarBrand {
  padding: 20px;
  display: inline-block;
}

.navbarButton:hover, .navbarBrand:hover {
  text-decoration: none;
  background-color: #ccc;
}

.navbarButton:focus, .navbarBrand:focus {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
	.navbarContainer {
     font-size: 13px;
	}

	.navbarBrand {
     padding-left: 3px;
	}

	.navbarButton {
	  padding: 3px;
	  transform: rotate(-45deg);
	}

   .navbarButton:hover, .navbarBrand:hover {
	  background-color: #e6e6e6;
	}
}

@media screen and (max-width: 350px) {
	.navbarContainer {
      justify-content: center;
	}

	.navbarBrand {
     display: none;
	}
}
